.colored-slider{
    --divider-width: 3px;
    --default-handle-color: rgba(212, 222, 245, 0.897);
    --divider-color: rgba(212, 222, 245, 0.897);
    --default-handle-shadow: 0px 0px 1px 3px rgba(37, 35, 35, 0.8);
}